<a href="https://colab.research.google.com/github/atonendeley/CE880-Data-Science/blob/main/CE880_WEEK_2_COURSE_WORK_problem2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "ATONYE ENDELEY"
COLLABORATORS = "2103195"

---

---
# Welcome to CE880
### This is your week-2 : Problem 2 notebook

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

In [ ]:
# Please make sure if pandas is installed and if not then run the this cell otherwise skip
!pip install pandas

#### Let's create a Toy Data for rest of the 3 questions

In [2]:
import numpy as np
import pandas as pd
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

---
## Question 4:

Write a Pandas program to display students names, where number of attempts in the examination is greater than 2 and score less than 10.

In [101]:
def filter_1():

    """Write a Pandas program to display students names, where number of attempts 
    in the examination is greater than 2 and score less than 10."""
        # YOUR CODE HERE
    filter = df[(df['attempts'] > 2) & (df['score'] < 10)]
    return filter
print("Number of attempts in the examination is greater than 2 and score less than 10 :")
print(df[(df['attempts'] > 2) & (df['score'] < 10)])
    #raise NotImplementedError()

Number of attempts in the examination is greater than 2 and score less than 10 :
   name  score  attempts qualify  cumsum_attempts  cusum_attempts
b  Dima    9.0         3      no                4               4

In [102]:
filter_1()

   name  score  attempts qualify  cumsum_attempts  cusum_attempts
b  Dima    9.0         3      no                4               4

In [103]:
assert filter_1() == ['Dima']

ValueError: ignored

---
## Question 5:
A cumulative sum is a sequence of partial sums of a given sequence. For example, the cumulative sums of the sequence `{a,b,c,...}`, are '{a, a+b, a+b+c, ....}'

Write a Pandas program to calculate the CUSUM of the examination attempts by the students and return last value of the sum. `Hint`: You can use tail function to access last element then convert to list and return as a value

In [88]:
def cusum_attempts():

    """Write a Pandas program to calculate the CUSUM of the examination attempts by the students."""
    
    # YOUR CODE HERE

    cumsum = df['attempts'].sum()
    return cumsum
    print("\nSum of the examination attempts by the students:")
    print(df['attempts'].sum())
  
    raise NotImplementedError()

In [89]:
cusum_attempts()

19

In [90]:
"""Check the cusum attempt"""
assert cusum_attempts() == [19]

## Question 6

Write a Pandas program to display the average score. `Hint`: Please replace `NaN` values with `0` before calcualting average.

In [111]:
import itertools
def score():


     #"""Write a Python program to calculate average score"""
    # YOUR CODE HERE
    (df[df['score'].fillna()])
    score =(df['score'].mean())
    return score

print("\nMean score for each different student in data frame:")
print(df['score'].mean())

    #raise NotImplementedError()

Mean score for each different student in data frame:
13.5625

In [99]:
score()

13.5625

In [109]:
assert score() == 10.85

AssertionError: ignored